.slick-slide img {
  display: initial;
}

.aside {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: 33%;
}

.isRight {
  background: palegreen;
}

.fixed {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  left: 0;
  bottom: 0;
  margin: auto;
}

body {
  background-image: url("./../assets/img/bg.jpg")
}

.mdl-layout__drawer {
  background: transparent;
  border:none;
}